.venv/
.env
.env.*
__pycache__/
.pytest_cache/
.mypy_cache/
dist/
build/
*.egg-info/
.DS_Store
*.pyc
*.pyo
*.log
logs/driver/*.log
logs/executor/*.log
*.csv.gz
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/common.zip
terraform/stage_massive_day_aggs_lambda.zip
